# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/msvc/.vs/RankSep/v15
/msvc/mss-k-rank/.vs/mss-k-rank/v15
/msvc/mss-k-rank/x64/Release/mss-k-rank.tlog
/msvc/mss-k-rank/x64/Release
msvc/mss-k-rank/.vs/mss-k-rank/v16/.suo
/msvc/mss-k-rank/.vs/mss-k-rank/v16
/msvc/mss-k-rank/x64/Debug/mss-k-rank.tlog
/msvc/mss-k-rank/x64/Debug
/externs/cliquer-1.21/cl
